src/main/resources/xsd/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- GENERATED BY: java -jar /home/dennis/jibx/lib/jibx-genschema.jar binding.xml -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <!-- Created from mapping for class example.example.Customer -->
    <element name="customer">
        <complexType>
            <sequence>
                <element minOccurs="0" name="name">
                    <complexType>
                        <sequence>
                            <element minOccurs="0" name="first-name" type="xsd:string"/>
                            <element minOccurs="0" name="last-name" type="xsd:string"/>
                        </sequence>
                    </complexType>
                </element>
                <element minOccurs="0" name="address">
                    <complexType>
                        <sequence>
                            <element minOccurs="0" name="street" type="xsd:string"/>
                            <element minOccurs="0" name="city" type="xsd:string"/>
                            <element minOccurs="0" name="state" type="xsd:string"/>
                        </sequence>
                        <attribute name="zip" type="xsd:int"/>
                    </complexType>
                </element>
                <element maxOccurs="unbounded" minOccurs="0" ref="order"/>
            </sequence>
        </complexType>
    </element>

    <!-- Created from mapping for class example.example.Order -->
    <element name="order">
        <complexType>
            <sequence/>
            <attribute name="date" type="xsd:date"/>
            <attribute name="amount" type="xsd:decimal"/>
        </complexType>
    </element>
</schema>